
html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Montserrat';
  background-color: rgba(244, 244, 244, 0.775);
  /* footer support */
  margin-bottom: 100px;
}

#grid {
  width: 500px;
  height: 500px;
  display: grid;
  box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
  grid-template-columns: repeat(16,16fr);
  grid-template-rows: repeat(16,16fr);
}




/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 17px;
}

.fa-github {
  color: rgb(65, 53, 119);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}




