:root {
  --primary-dark: #00091a;
  --primary-light: #f0f4fe;
  --secondary-light: #ccddff;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Bebas Neue';
  background-color: var(--primary-light);
  /* footer support */
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-dark);
}

h1 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 50px;
  margin-top: 10px;

}

#grid {
  width: 500px;
  height: 500px;
  display: grid;
  background-color: white;
  box-shadow: #4236783d 0px 3px 8px;
  grid-template-columns: repeat(16,16fr);
  grid-template-rows: repeat(16,16fr);
  margin-bottom: 20px;
}

button {
  font-family: inherit;
  font-size: 20px;
  color: inherit;
  width: 130px;
  border-radius: 7px;
  background-color: var(--primary-light);
  border: 1px solid var(--primary-dark);
  padding-top: 3px;
  padding-bottom: 3px;
}

#options {
  display: flex;
  justify-content: space-around;
}

button.active {
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

button {
  transition: transform 0.1s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

#slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid-size-display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#grid-size-slider {
  background-color: var(--primary-light);
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  outline: none;
  margin-top: 25px;
  opacity: 0.85;
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

#grid-size-slider::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid var(--primary-light);
  border-radius: 25px;
  background: var(--secondary-light);
}

#grid-size-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  margin-top: -6px;
  cursor: pointer;
  color: var(--primary-dark);
  background: var(--primary-dark);
}

#grid-size-slider:hover {
  opacity: 1;
}

.grid {
  user-select: none;
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  gap: 10px;
  width: 100%;
  padding: 5px;
  font-size: 18px;
}

.fa-github {
  color: black;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}




